{% extends "base.html" %}

{% block content %}
    <div class="form row-form short-form">
        <div class="form-header">Settings: username</div>
        <form method="POST">
            {% csrf_token %}
            {% include "formfields/text_field.html" with field=form.username %}
            {% include "formfields/text_field.html" with field=form.email %}
            <div class="row">
                <label>Avatar</label>
                <img src="holder.js/80x80">
            </div>
            <div class="row">
                <label></label>
                <input type="file">
            </div>
            <div class="row">
                <input class="btn btn-success" type="submit" value="Save">
            </div>
        </form>
    </div>
{% endblock %}