{% extends "base.html" %}

{% block content %}
    <div class="form row-form short-form">
    <div class="form-header">Registration</div>
        <div class="form-errors">This email address is already registered</div>
        {% include "formfields/text_field.html" with field=form.username %}
        {% include "formfields/text_field.html" with field=form.email %}

        <div class="row">
            <label>Avatar</label>
            <input type="file">
        </div>

        {% include "formfields/password_field.html" with field=form.password %}
        {% include "formfields/password_field.html" with field=form.repeat_password %}

        <div class="row">
            <input class="btn btn-success" type="submit" value="Registration">
        </div>
    </div>
{% endblock %}