{% extends "base.html" %}

{% block content %}
    <div class="form row-form short-form">
    <div class="form-header">Registration</div>
        <div class="form-errors">This email address is already registered</div>
        <div class="row">
            <label for="username">Login</label>
            <input id="username" type="text" name="username" class="form-control">
        </div>
        <div class="row">
            <label for="email">Email</label>
            <input id="email" type="text" name="email" class="form-control">
        </div>
        <div class="row">
            <label for="nickname">NickName</label>
            <input id="nickname" type="text" name="nickname" class="form-control">
        </div>
        <div class="row">
            <label>Avatar</label>
            <input type="file">
        </div>
        <div class="row">
            <label for="password">Password</label>
            <input id="password" type="password" name="password" class="form-control">
        </div>
        <div class="row">
            <label for="repeat_password">Repeat password</label>
            <input id="repeat_password" type="password" name="repeat_password" class="form-control">
        </div>
        <div class="row">
            <input class="btn btn-success" type="submit" value="Registration">
        </div>
    </div>
{% endblock %}