{% extends "base.html" %}
{% load static %}
{% load base_tags %}

{% block js %}
    <script src="{% static "js/vote.js" %}"></script>
{% endblock %}

{% block content %}
    <input type="hidden" class="ask-vote-url" value="{% url "ask:vote_ask" %}">
    <input type="hidden" class="answer-vote-url" value="{% url "ask:vote_answer" %}">
    <input type="hidden" class="correct-answer-url" value="{% url "ask:mark_answer" %}">
    {% csrf_token %}
    <div class="parent-block block">
        <div class="user-info">
            <div class="avatar">
                {% if object.author.avatar %}
                    <img class="user-avatar-middle" src="{{ object.author.avatar.url }}">
                {% else %}
                    <img class="user-avatar-middle" src="{% static "images/avatar.png" %}">
                {% endif %}
            </div>
            <p class="username">{{ object.author.username }}</p>
            <div class="rating">
                {% with uservote=object|get_user_vote:request.user %}
                    {% if uservote == 0 %}
                        <a href="#" class="vote-down" data-ask="{{ object.pk }}">
                            <span class="down glyphicon glyphicon-thumbs-down"></span>
                        </a>
                    {% endif %}

                    <span class="{% if uservote == 1 %}voted-up {% elif uservote == -1 %}voted-down {% endif %}value">{{ object.rating }}</span>

                    {% if uservote == 0 %}
                        <a href="#" class="vote-up" data-ask="{{ object.pk }}">
                            <span class="up glyphicon glyphicon-thumbs-up"></span>
                        </a>
                    {% endif %}
                {% endwith %}
            </div>
        </div>
        <div class="content">
            <div class="question">
                {{ object.question }}
            </div>
            <div class="text">
                {{ object.text }}
            </div>
            <div class="bottom-data">
                <span class="tags-block">Tags:
                    {% for tag in object.tags.all %}
                        <a href="{% url "ask:tag_view" tag.pk %}">{{ tag.tag }}</a>
                    {% endfor %}
                </span>
            </div>
        </div>
    </div>
    {% with show_correct_checkbox=object.has_correct_answers %}
        {{ object.has_correct_answers }}
        {% for answer in object.answers.all %}
            <div class="b-block block {% if answer.is_correct %}correct-answer{% endif %}">
                <div class="user-info">
                    <div class="avatar">
                        {% if answer.author.avatar %}
                            <img class="user-avatar-middle" src="{{ answer.author.avatar.url }}">
                        {% else %}
                            <img class="user-avatar-middle" src="{% static "images/avatar.png" %}">
                        {% endif %}
                    </div>
                    <p class="username">{{ answer.author.username }}</p>
                    <div class="rating">
                        {% if request.user.is_authenticated %}
                            {% with uservote=answer|get_user_vote:request.user %}
                                {% if uservote == 0 %}
                                    <a href="#" class="answer-vote-down" data-answer="{{ answer.pk }}">
                                        <span class="down glyphicon glyphicon-thumbs-down"></span>
                                    </a>
                                {% endif %}

                                <span class="{% if uservote == 1 %}voted-up {% elif uservote == -1 %}voted-down {% endif %}value">{{ answer.rating }}</span>

                                {% if uservote == 0 %}
                                    <a href="#" class="answer-vote-up" data-answer="{{ answer.pk }}">
                                        <span class="up glyphicon glyphicon-thumbs-up"></span>
                                    </a>
                                {% endif %}
                            {% endwith %}
                        {% else %}
                            <span class="value">{{ answer.rating }}</span>
                        {% endif %}
                    </div>
                </div>
                <div class="content">
                    <div class="text">
                        {{ answer.text }}
                    </div>
                    {% if request.user and request.user == object.author and not answer.is_correct %}
                        {% if not show_correct_checkbox %}
                            <div class="bottom-data checkbox-correct-container">
                                <input class="is-correct-answer" data-answer="{{ answer.pk }}" type="checkbox"
                                       id="is_correct">
                                <label for="is_correct">Correct!</label>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        {% endfor %}
        <div class="form">
            <form method="POST">
                {% csrf_token %}

                {% include "formfields/textarea_field.html" with field=form.text %}

                <div class="row">
                    <input class="btn btn-success" type="submit" value="Reply">
                </div>
            </form>
        </div>
    {% endwith %}
    {% include "blocks/pagination.html" %}
{% endblock %}