{% extends "base.html" %}

{% block content %}
    <div class="parent-block block">
        <div class="user-info">
            <div class="avatar">
                <img src="holder.js/80x80">
            </div>
            <p class="username">{{ object.author.username }}</p>
            <div class="rating">
                <a href="#">
                    <span class="down glyphicon glyphicon-thumbs-down"></span>
                </a>
                <span class="value">{{ object.rating }}</span>
                <a href="#">
                    <span class="up glyphicon glyphicon-thumbs-up"></span>
                </a>
            </div>
        </div>
        <div class="content">
            <div class="question">
                {{ object.question }}
            </div>
            <div class="text">
                {{ object.text }}
            </div>
            <div class="bottom-data">
                <span class="tags-block">Tags:
                    {% for tag in object.tags.all %}
                        <a href="{% url "ask:tag_view" tag.pk %}">#{{ tag.title }}</a>
                    {% endfor %}
                </span>
            </div>
        </div>
    </div>
    {% for answer in object.answers.all %}
        <div class="b-block block">
            <div class="user-info">
                <div class="avatar">
                    <img src="holder.js/80x80">
                </div>
                <p class="username">{{ answer.author.username }}</p>
                <div class="rating">
                    <a href="#">
                        <span class="down glyphicon glyphicon-thumbs-down"></span>
                    </a>
                    <span class="value">{{ answer.rating }}</span>
                    <a href="#">
                        <span class="up glyphicon glyphicon-thumbs-up"></span>
                    </a>
                </div>
            </div>
            <div class="content">
                <div class="text">
                    {{ answer.text }}
                </div>
                <div class="bottom-data">
                    <input type="checkbox" id="is_correct">
                    <label for="is_correct">Correct!</label>
                </div>
            </div>
        </div>
    {% endfor %}
    <div class="form">
        <div class="row">
            <label>Answer:</label>
            <textarea class="form-control"></textarea>
        </div>
        <div class="row">
            <input class="btn btn-success" type="submit" value="Reply">
        </div>
    </div>
    {% include "blocks/pagination.html" %}
{% endblock %}