{% extends "base.html" %}
{% load static %}
{% load base_tags %}

{% block js %}
    <script src="{% static "js/vote.js" %}"></script>
{% endblock %}

{% block content %}
    <input type="hidden" class="ask-vote-url" value="{% url "ask:vote_ask" %}">
    {% csrf_token %}
    <div class="page-header custom-header">
        {% block page-sub-header %}
            <h3>New questions</h3>
            <a href="{% url "ask:top_list" %}">Top questions</a>
        {% endblock %}
    </div>
    {% for item in object_list %}
        <div class="b-block block">
            <div class="user-info">
                <div class="avatar">
                    {% if item.author.avatar %}
                        <img class="user-avatar-middle" src="{{ item.author.avatar.url }}">
                    {% else %}
                        <img class="user-avatar-middle" src="holder.js/80x80">
                    {% endif %}
                </div>
                <p class="username">{{ item.author.username }}</p>
                {% if request.user.is_authenticated %}
                    {% with uservote=item|get_user_vote:request.user %}
                        <div class="rating">
                            {% if uservote == 0 %}
                                <a href="#" class="vote-down" data-ask="{{ item.pk }}">
                                    <span class="down glyphicon glyphicon-thumbs-down"></span>
                                </a>
                            {% endif %}

                            <span class="{% if uservote == 1 %}voted-up {% elif uservote == -1 %}voted-down {% endif %}value">{{ item.rating }}</span>

                            {% if uservote == 0 %}
                                <a href="#" class="vote-up" data-ask="{{ item.pk }}">
                                    <span class="up glyphicon glyphicon-thumbs-up"></span>
                                </a>
                            {% endif %}
                        </div>
                    {% endwith %}
                {% else %}
                    <div class="rating">
                        <span class="value">{{ item.rating }}</span>
                    </div>
                {% endif %}
            </div>
            <div class="content">
                <div class="question">
                    <a href="{% url "ask:show" item.pk %}">{{ item.question }}</a>
                </div>
                <div class="test">
                    {{ item.text }}
                </div>
                <div class="bottom-data">
                    <a href="{% url "ask:show" item.pk %}">Show answers({{ item.answers.count }})</a>
                    <span class="tags-block">Tags:
                        {% for tag in item.tags.all %}
                            <a href="{% url "ask:tag_view" tag.pk %}">{{ tag.tag }}</a>
                        {% endfor %}
                    </span>
                </div>
            </div>
        </div>

    {% endfor %}

    {% block paginator %}
        {% if is_paginated %}
            {% url "ask:list" as ask_base_url %}
            {% include "blocks/pagination.html" with page_base_url=ask_base_url objects=object_list %}
        {% endif %}
    {% endblock %}

{% endblock %}