{% extends "base.html" %}

{% block content %}
    <form action="#" method="POST">
        <div class="form">
            <div class="row">
                <label for="question">Question</label>
                <input class="form-control" id="question" type="text">
            </div>
            <div class="row">
                <label for="text">Text</label>
                <textarea class="form-control" id="text"></textarea>
            </div>
            <div class="row">
                <label for="tags">Tags</label>
                <input class="form-control" id="tags" type="text">
            </div>
            <div class="row">
                <input class="btn btn-success" type="submit" value="ASK!">
            </div>
        </div>
    </form>
{% endblock %}