{% extends "base.html" %}
{% load static %}

{% block content %}
    <form action="#" method="POST">
        {% csrf_token %}
        <div class="form row-form short-form">
            {% include "formfields/text_field.html" with field=form.question %}

            {% include "formfields/textarea_field.html" with field=form.text %}

            {% include "formfields/text_field.html" with field=form.tags_list %}
            <div class="row">
                <input class="btn btn-success" type="submit" value="ASK!">
            </div>
        </div>
    </form>
{% endblock %}