{% extends "base.html" %}

{% block content %}
    {% for item in object_list %}
        <div class="b-block block">
            <div class="user-info">
                <div class="avatar">
                    <img src="holder.js/80x80">
                </div>
                <p class="username">{{ item.author }}</p>
                <div class="rating">
                    <a href="#">
                        <span class="down glyphicon glyphicon-thumbs-down"></span>
                    </a>
                    <span class="value">{{ item.rating }}</span>
                    <a href="#">
                        <span class="up glyphicon glyphicon-thumbs-up"></span>
                    </a>
                </div>
            </div>
            <div class="content">
                <div class="question">
                    <a href="{% url "ask:show" %}">{{ item.question }}</a>
                </div>
                <div class="test">
                    {{ item.text }}
                </div>
                <div class="bottom-data">
                    <a href="{% url "ask:show" %}">Show answers(3)</a>
                    <span class="tags-block">Tags:
                        <a href="#">Python</a>
                        <a href="#">aaa</a>
                    </span>
                </div>
            </div>
        </div>

    {% endfor %}
    <nav aria-label="Page navigation">
        <ul class="pagination">
            <li>
                <a href="#" aria-label="Previous">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">4</a></li>
            <li><a href="#">5</a></li>
            <li>
                <a href="#" aria-label="Next">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
{% endblock %}